body {
    width: 800px;
    font: serif;
    margin-left: auto !important;
    margin-right: auto !important;
    font-family: serif !important;
    text-align: justify;
}

.corpustext {
    font-family: monospace;
    background-color: #FFCC99;
    color: #6600CC;
}

code, pre {
    /* Fix brain-dead Courier in default stylesheet */
    font-family: monospace;
}

/* For now, we don't want these to be displayed.  Including them in the
 * source is sufficient.
 */
.copyright,.legalnotice {
    display: none;
}

body div.note {
    background-color: #cccccc;
    margin-left: 0.75in !important;
    margin-right: 0.75in !important;
}

.calloutlist img {
    /* fix a little alignment problem with callout list images */
    padding-top: 4px;
}
